{% extends 'base.html.twig' %}

{% block title %}Accueil - Couronne Eclatante{% endblock %}

{% block body %}
    <h1>Bienvenue sur le site de Couronne Eclatante</h1>
    <!-- Contenu de la page d'accueil ici -->

 <nav>
            <ul>
                <li><a href="#accueil">Accueil</a></li>
                <li><a href="#a-propos">À propos</a></li>
                <li><a href="#livres-numeriques">Livres Numériques</a></li>
                <li><a href="#programme-couronne-eclatante">Programme Couronne Eclatante</a></li>
                <li><a href="#panier">Panier</a></li>
                <li><a href="#panier">Devenir Membre</a></li>{# formulaire de contact pour les utilisateurs du site à mettre en place #}
                <li><a href="#contact">Contact</a></li> {# coordonnées de couronne eclatante #}
            </ul>
        </nav>
    </header>

    <section id="accueil">
        <img src="images\Restaurant.jpg" alt="Image de présentation">
        <h2>Bienvenue sur le site de Couronne Eclatante</h2>
        <p>Tout est possible à celui qui croit</p>
    </section>
    


{% endblock %}

 <footer>
        <p>&copy; 2024 SiteWeb Couronne Eclatante. Tous droits réservés.</p>
    </footer>
</body>
</html>
